
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&family=Rajdhani&display=swap');

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width : 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #707070;
    border-radius: 2.5px;
}
a{
    text-decoration: none;
    color : #707070;
}
a:hover{
    color:#b10101;
    text-decoration-line: underline;
}
#HeaderAndMenu{
    top : 0px;
    width: 100%;
    height: minmax(10%, 100px);
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows : 2fr 1px 1fr;
    background-color: white;
    position : fixed;
    font-family: 'Rajdhani', sans-serif;
    font-size : 1vw;
    letter-spacing: 0.7vw;
    color: #707070;
    text-align: center;
}
#Footer{
    top : 0px;
    width: 100%;
    height: minmax(10%, 100px);
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows : 1fr 1px;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size : 1vw;
    letter-spacing: 0.7vw;
    color: #707070;
    text-align: center;
}
.Header{
    grid-column: 2/5;
    font-size : 2.5vw;
    margin-top: 1vw;
    letter-spacing: 2.7vw;
}
.HeaderLine{
    grid-row-start: 2;
    margin-right : 3px;
    grid-column: 2/5;
    background-color: #707070;
}
.Menu_HOW{
    border:hidden;
    background-color: rgba(255,255,255,0.5);
    grid-row-start : 3;
    grid-column : 3/4;
    margin-top: 0.5vw;
    
}
.Menu_WHAT{
    border: hidden;
    background-color: rgba(255,255,255,0.5);
    grid-row-start : 3;
    grid-column : 2/3;
    margin-top: 0.5vw;
    margin-left: 6vw;
    text-align: left;
}
.Menu_WHO{
    border: hidden;
    background-color: rgba(255,255,255,0.5);
    grid-row-start : 3;
    grid-column : 4/5;
    margin-top: 0.5vw;
    margin-right : 6vw;
    text-align: right;
}
.BeRed{
    color : #b10101;
}
#English3vw{
    font-family: 'Rajdhani', sans-serif;
    font-size : 3vw;
    letter-spacing: 0.7vw;
    text-align: center;
}
#English2vw{
    font-family: 'Rajdhani', sans-serif;
    font-size : 2vw;
    letter-spacing: 0.7vw;
    text-align: center;
}
#Korean1_8vw{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.8vw;
    line-height: 250%;
    text-align: center;
}
#Korean1vw{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1vw;
    line-height: 250%;
    text-align: center;
}
#Main-WHAT{
    width: 100%;
    height :600px;
    padding-top : 3%;
    color: #707070;
    margin-bottom: 15%;
}
#Main-HOW{
    width: 100%;
    height : 600px;
    padding-top : 3%;
    color: #707070;
    margin-bottom: 15%;
}
#Main-WHO{
    width: 100%;
    height : 600px;
    padding-top : 3%;
    color: #707070;
    margin-bottom: 15%;
}
#container {
    text-align: center;
    width: 60%;
    height: 100%;
    margin-top: 5%;
    margin-left : 20%;
    margin-right: 20%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
#container::-webkit-scrollbar{
    width : 2px;
}
#container::-webkit-scrollbar-thumb{
    background-color: #707070;
    border-radius: 0.5px;
}
.item {
    display: flex;
    width : 100%;
    margin-top:5%;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}
.pic{
    transition : 0.5s;
    height: auto;
    margin-top: 10%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.pic:hover{
    transition : 0.5s;
    height:auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text{
    height : 100%;
    background-color: white;
}